<div class="logo"></div>
<div class="slogan"></div>
<div class="hr"></div>
<div class="games clearfix">
    <div class="game mahjong">
        <div class="cover"></div>
        <a class="enter" onclick="openTableWindow(false, '@Url.Action("TaiwanMahjong", "Play")', 1280, 720)">Taiwan Mahjong</a>
    </div>
    <div class="game doudizhu">
        <div class="cover"></div>
        <a class="enter" onclick="openTableWindow(true, '@Url.Action("DouDizhu", "Play")', 1280, 720)">Dou Dizhu</a>
    </div>
    <div class="game texasholdem">
        <div class="cover"></div>
        <a class="enter" onclick="openTableWindow(false, '@Url.Action("TexasHoldem", "Play")', 1280, 720)">Texas Holdem</a>
    </div>
</div>
@section Scripts {
    <link href="~/assets/fancybox/jquery.fancybox.css" rel="stylesheet" />
    <script src="~/assets/fancybox/jquery.fancybox.min.js"></script>
    <script>
        function openTableWindow(newWindow, url, width, height) {
            if (newWindow == true) {
                return window.open(url, '_blank', 'resizable=yes,location=no,menubar=no,scrollbars=no,status=no,titlebar=no,toolbar=no,width=' + width + ',height=' + height);
            }
            else {
                $.fancybox({
                    type: 'iframe',
                    href: url,
                    fitToView: false,
                    autoSize: false,
                    closeBtn: true,
                    autoCenter: true,
                    width: width,
                    height: height,
                    padding: 0
                });
            }
        }

        var lobby = null;

        function showPhotoCheckBox(url, width, height) {
            lobby = {
                url: url,
                width: width,
                height: height
            };

            $.fancybox({
                type: 'iframe',
                href: '@Url.Action("PhotoCheck", "Webcam")',
                fitToView: false,
                autoSize: false,
                closeBtn: false,
                width: 550,
                height: 550,
                padding: 0
            });
        }

        function verifyPhotoSuccess() {
            openNewWindow(lobby.url, lobby.width, lobby.height);
            $.fancybox.close();
            alertify.success('照片比對成功。');
        }

        function verifyPhotoFail() {
            alertify.error('照片比對失敗。');
        }
    </script>
}
