/.svn
.vs/
bin/
obj/
Log/
app/ams/node_modules
app/ams/pub
app/ams_api/pub
lib.ext
Test
util/IEToolbarEngineSources/IEToolbarEngine/Thumbs.db
util/IEToolbarEngineSources/IEToolbarEngine/Thumbs.db
*.dbmdl
/app/ams/wwwroot/lib/bootstrap
/app/ams/wwwroot/lib/Font-Awesome
/app/ams/wwwroot/lib/jquery
/app/ams/wwwroot/lib/vue
/app/ams/wwwroot/lib/webix
