/Bingo/gms.Bingo/bin
/Bingo/gms.Bingo/obj
/web/ams/bin
.DS_Store
/lib/Tools/obj
/lib/Tools/bin
/web/ams/obj
/db/ams_core/obj
/db/ams_core/bin
/db/ams_db/obj
/db/ams_db/bin
/db/ams_log/obj
/db/ams_log/bin
/db/ams_user/obj
/db/ams_user/bin
/db/cash/obj
/db/cash/bin
/db/GameReplay/obj
/db/GameReplay/bin
/db/GeniusBull/obj
/db/GeniusBull/bin
/db/GeniusBull.LiveCasino/obj
/db/GeniusBull.LiveCasino/bin
/db/GeniusBull.TabletopGames/obj
/db/GeniusBull.TabletopGames/bin
/db/GeniusBull.VideoArcade/obj
/db/GeniusBull.VideoArcade/bin
/db/GeniusBullLog/bin
/db/GeniusBullLog/obj
/db/Lottery_db/obj
/db/Lottery_db/bin
/db/Photo/obj
/db/Photo/bin
/db/userDB/obj
/db/userDB/bin
/web/_
/web/ams/Log
/web/ams.HelpPage/Log
/web/ams.tran.callback/Log
/web/ams_api/Log
/web/ams_msg/Log
/web/ams2
/web/ams2_
/web/ams3
/web/game/Log
/web/msg/Log
/.svn
/Lottery
/test
/.git.rar
