.svn/
.vs/
bin/
obj/
Log/
node_modules/
pub/
lib.ext
Test
Thumbs.db
*.dbmdl
*.jfm
*.csproj.user
/app/ams/wwwroot/lib/bootstrap
/app/ams/wwwroot/lib/Font-Awesome
/app/ams/wwwroot/lib/jquery
/app/ams/wwwroot/lib/vue
/app/ams/wwwroot/lib/webix
/app/ams/wwwroot/lib/@aspnet

.idea
