@page
@model TestModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>ams</title>
    <style type="text/css">
        .page-loading {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            color: white;
            background-color: black;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }

            .page-loading.loading-state {
                color: cyan;
            }
    </style>
    <link type="text/css" rel="stylesheet" href="./lib/bootstrap/dist/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="./lib/Font-Awesome/web-fonts-with-css/css/fontawesome-all.min.css">
    <link type="text/css" rel="stylesheet" href="./css/Index.css">
</head>
<body class="">
    <app>
        <!--!--><!--!--><!--!--><div class="w-100 h-100">
            <div class="p00">
                <!--!--><div class="p10">
                    <button class="btn btn-dark d-none d-md-block"><i class="fa fa-bars"></i></button>
                    <button class="btn btn-dark d-block d-md-none"><i class="fa fa-bars"></i></button>
                    <div class="w-100">
                    </div>
                    <button class="btn btn-dark d-none d-md-block">
                        <i class="fa fa-user"></i>
                        root
                    </button>
                    <button class="btn btn-dark d-block d-md-none">
                        <i class="fa fa-user"></i>
                        root
                    </button>
                    <button class="btn btn-dark d-none d-md-block">
                        <i class="fa fa-envelope"></i>
                    </button>
                    <button class="btn btn-dark d-block d-md-none">
                        <i class="fa fa-envelope"></i>
                    </button>
                </div>
                <div class="p20 dock-left    show-right">
                    <div class="pusher-left"></div>
                    <div class="w-100 h-100 position-relative">
                        <div>
                            xx
                        </div>
                    </div>
                    <div class="pusher-right"></div>
                    <!--!--><div class="sidebar-left bg-dark border border-left-0 border-white">
                        <div class="btn btn-dark btn-block text-left">
                            <i class="fa fa-fw fa-home"></i>
                            Home
                        </div>
                        <div class="btn btn-dark btn-block text-left">
                            <i class="fa fa-users"></i>
                            Accounts
                        </div>
                        <div class="btn btn-dark btn-block text-left disabled">
                            <i class="fa fa-fw fa-dollar-sign"></i>
                            Cash
                        </div>
                        <div class="btn btn-dark btn-block text-left disabled">
                            <i class="fa fa-fw fa-list"></i>
                            Reports
                        </div>
                        <div class="btn btn-dark btn-block text-left disabled">
                            <i class="fa fa-fw fa-gamepad"></i>
                            Game
                        </div>
                        <div class="btn btn-dark btn-block text-left">
                            <i class="fa fa-fw fa-cogs"></i>
                            Config
                        </div>
                        <div class="btn btn-dark btn-block text-left">
                            <i class="fa fa-fw fa-code"></i>
                            Test
                        </div>
                    </div>
                    <!--!--><div class="sidebar-right bg-dark border border-right-0 border-white">
                        <div class="sidebar-right-content">
                            <div class="sidebar-right-item ">
                                <div>msg0</div>
                                <div>msg1</div>
                                <div>msg2</div>
                                <div>msg3</div>
                                <div>msg4</div>
                                <div>msg5</div>
                                <div>msg6</div>
                                <div>msg7</div>
                                <div>msg8</div>
                                <div>msg9</div>
                                <div>msg10</div>
                                <div>msg11</div>
                                <div>msg12</div>
                                <div>msg13</div>
                                <div>msg14</div>
                                <div>msg15</div>
                                <div>msg16</div>
                                <div>msg17</div>
                                <div>msg18</div>
                                <div>msg19</div>
                                <div>msg20</div>
                                <div>msg21</div>
                                <div>msg22</div>
                                <div>msg23</div>
                                <div>msg24</div>
                                <div>msg25</div>
                                <div>msg26</div>
                                <div>msg27</div>
                                <div>msg28</div>
                                <div>msg29</div>
                                <div>msg30</div>
                                <div>msg31</div>
                                <div>msg32</div>
                                <div>msg33</div>
                                <div>msg34</div>
                                <div>msg35</div>
                                <div>msg36</div>
                                <div>msg37</div>
                                <div>msg38</div>
                                <div>msg39</div>
                                <div>msg40</div>
                                <div>msg41</div>
                                <div>msg42</div>
                                <div>msg43</div>
                                <div>msg44</div>
                                <div>msg45</div>
                                <div>msg46</div>
                                <div>msg47</div>
                                <div>msg48</div>
                                <div>msg49</div>
                            </div>
                            <div class="sidebar-right-item active">
                                <!--!--><button class="btn btn-light ">
                                    <i class="fa fa-sign-out"></i> Logout
                                    <i class="fa fa-spinner fa-spin invisible"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p30">
                </div>
            </div>
        </div>

        <!--!-->    <div class="modal fade text-dark" _bl_1="" aria-hidden="true" style="display: none;">
            <div class="modal-dialog modal-dialog-centered modal-sm">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="container-fluid">
                            <!--!--><div class="row login-group" data-status="0">

                                <input class="login-input" type="text" placeholder="Enter CorpName :">

                                <div class="login-alert">
                                    <span>
                                        &nbsp;
                                    </span>
                                </div>
                            </div>
                            <!--!--><div class="row login-group" data-status="0">

                                <input class="login-input" type="text" placeholder="Enter UserName :">

                                <div class="login-alert">
                                    <span>
                                        &nbsp;
                                    </span>
                                </div>
                            </div>
                            <!--!--><div class="row login-group" data-status="0">

                                <input class="login-input" type="password" placeholder="Enter Password :">

                                <div class="login-alert">
                                    <span>
                                        &nbsp;
                                    </span>
                                </div>
                            </div>
                            <div class="row login-group">
                                <div class="btn-group-sm btn-group-toggle btn-group-justified">
                                    <button class="btn btn-light active">
                                        Agent
                                    </button>
                                    <button class="btn btn-light ">
                                        Admin
                                    </button>
                                    <button class="btn btn-light ">
                                        Member
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer login-action">
                        <button class="btn btn-secondary ">
                            <i class="fa fa-sign-in"></i>
                            Login
                            <i class="fa fa-spinner fa-spin invisible"></i>
                        </button>
                        <button class="btn btn-secondary disabled">
                            <i class="fa fa-close"></i>
                            Close
                        </button>
                    </div>
                    <div class="modal-footer login-result">
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>

    </app>
</body>
</html>