@{ Layout = null; }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Bundles.RenderStyles(this)
    @Bundles.RenderScripts(this, null, false, Bundles.jquery, Bundles.angular_core, Bundles.signalr)
    <script src="@Url.Content(MessageHub.client_url)" type="text/javascript"></script>
    <script type="text/javascript">
        angular.module('app', []).controller('main', function ($scope) {
            $scope.init = function () {
                var msg_obj = $.connection.messageHub;
                if (msg_obj == null) return;
                msg_obj.client.welcome = function (msg) {
                    console.log(msg);
                };

                msg_obj.client.sendMsgToOthers = function (name, msg) {
                    console.log(name, msg);
                    //$('#msg_list').append('<li>' + name + ': ' + msg + '</li>');
                };

                $.connection.hub.start().done(function () {
                    console.log('signalr done', arguments);
                    //msg_obj.server.hello("123", arguments);
                }).fail(function () {
                    console.log('signalr fail', arguments);
                });;
                console.log(msg_obj);
            }
        });
    </script>
</head>
<body ng-app="app" ng-controller="main" ng-init="init()">
</body>
</html>
