@using ams.Data;
@using ams.tran2;
@{
    Layout = null;
    MemberPaymentApiController.Data data = Model as MemberPaymentApiController.Data;
    string url = data?.ResultUrl;
}
<form id="result_form" action="@url" method="post">
    @foreach (string key in data.FormData.AllKeys)
    { <input type="hidden" name="@key" value="@data.FormData[key]" /> }
    @if (!string.IsNullOrEmpty(url))
    { <script type="text/javascript">window.result_form.submit();</script> }
</form>
