@using Microsoft.AspNetCore.Html;
@{
    IHtmlContent ng_app = null;
    string _ng_app = ViewData["ng-app"] as string;

    if (_ng_app != null)
    {
        ng_app = Html.Raw($@" ng-app=""{_ng_app}""");
    }
}
<!DOCTYPE html>
<html@(ng_app)>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    @RenderSection("head")
</head>
<body>
    @RenderBody()
</body>
</html>