/*@import "../../css/bootswatch/cerulean/variables.less";*/
/*@import "../../css/bootswatch/cerulean/bootstrap.css";*/
.fill-x {
  width: 100%;
}
.fill-y {
  height: 100%;
}
.fill {
  width: 100%;
  height: 100%;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  white-space: nowrap;
}
.easing {
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
#navbar {
  width: 100%;
  margin-bottom: 0;
}
#navbar .navbar-header.navbar-text {
  margin-top: 0;
  margin-bottom: 0;
}
#navbar .navbar-header .navbar-toggle {
  padding-top: 5px;
  padding-bottom: 5px;
}
#navbar .navbar-header .navbar-brand {
  padding: 5px;
}
#navbar .navbar-header .navbar-brand > img {
  max-height: 100%;
  height: 100%;
  max-width: 100%;
  width: auto;
  margin: 0 auto;
  -o-object-fit: contain;
  object-fit: contain;
}
#content {
  width: 100%;
  height: 100%;
  border: 0;
}
#content-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
#sidebar-wrapper,
#content-wrapper {
  padding-top: 50px;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  height: 100%;
  overflow: hidden;
}
#sidebar {
  width: 100%;
  height: 100%;
  padding-top: 22px;
  position: relative;
  white-space: nowrap;
}
#sidebar #toolbar1 {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
}
#sidebar #toolbar2 {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  width: 15px;
}
#sidebar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
@media (max-width: 768px) {
  #sidebar-wrapper {
    /*width: 60%;*/
    /*&.panel-hide { width: 0; }*/
  }
}
@media (min-width: 768px) {
  #sidebar-wrapper {
    /*width: 20%;*/
    /*&.panel-hide { width: @sidebar-toolbar-width; }*/
  }
  #sidebar-wrapper .sidebar_show {
    width: 20%;
  }
}
#content-wrapper {
  position: relative;
}
@media (min-width: 768px) {
  #content-wrapper {
    /*padding-left: 20%;*/
    /*&.panel-hide { padding-left: @sidebar-toolbar-width;  }*/
  }
}
@media (max-width: 768px) {
  #sidebar-wrapper {
    width: 0;
  }
  #content-wrapper {
    padding-left: 0;
  }
  .sidebar-show-xs #sidebar-wrapper {
    width: 60%;
  }
  #sidebar {
    padding-top: 0;
  }
  #toolbar1,
  #toolbar2 {
    display: none;
  }
}
@media (min-width: 768px) {
  .sidebar-hide #menu,
  .sidebar-hide #toolbar1 {
    display: none;
  }
  .sidebar-show #toolbar2 {
    display: none;
  }
  .sidebar-hide #sidebar-wrapper {
    width: 20px;
  }
  .sidebar-hide #content-wrapper {
    padding-left: 20px;
  }
  #sidebar-wrapper {
    width: 20%;
  }
  #content-wrapper {
    padding-left: 20%;
  }
  .sidebar-undock #content-wrapper {
    padding-left: 20px;
  }
}
#menu {
  width: 100%;
  height: 100%;
  overflow: auto;
}
#menu ul {
  padding-left: 0;
}
#menu ul ul {
  padding-left: 1em;
}
#menu li {
  list-style-type: none;
  cursor: pointer;
}
#menu li > div {
  padding: .4em .0em .4em .7em;
}