<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="SiteName" value="IG Tabletop Games Lobby (Qa)" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ApiSecretToken" value="b9bf5d8571304b43b1f802e16d3bd96c" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="AssetServerUrl" value="http://game1.betis73168.com:81" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RtmpServerUrl" value="rtmp://wowza.igig178.com/qachatnow" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RecognitionApiUrl" value="http://gs1.betis73168.com:9090/recognitionservice/rest/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="TexasHoldemGsApiUrl" value="http://10.10.10.32:9080/texesholdemserver-zero/services/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="DouDizhuGsApiUrl" value="http://10.10.10.32:9080/fightthelandlordserver/rest/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <system.webServer>
    <rewrite xdt:Transform="Insert">
      <rules>
        <clear />
        <rule name="RequestBlocking" stopProcessing="true">
          <match url="^Auth/Demo$" />
          <action type="CustomResponse" statusCode="404" statusReason="Not Found" statusDescription="The resource you are looking for has been removed, had its name changed, or is temporarily unavailable." />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>