<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="SiteName" value="IG Tabletop Games Lobby (Dev)" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ApiSecretToken" value="b9bf5d8571304b43b1f802e16d3bd96c" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="AssetServerUrl" value="http://igdev.ricogaming.net:81" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RtmpServerUrl" value="rtmp://wowza.ricogaming.net/chatnow" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RecognitionApiUrl" value="http://igdev.ricogaming.net:9080/recognitionservice/rest/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="TexasHoldemGsApiUrl" value="http://igdev.ricogaming.net:9080/texesholdemserver-zero/services/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="DouDizhuGsApiUrl" value="http://igdev.ricogaming.net:9080/fightthelandlordserver/rest/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>