@{ Layout = null; }
<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <a target="_blank" href="@Url.Action("PhotoCapture")">PhotoCapture</a>
        <a target="_blank" href="@Url.Action("PhotoCheck")">PhotoCheck</a>
        <a target="_blank" href="@Url.Action("PhotoVerify")">PhotoVerify</a>
    </body>
</html>
