@page
@model InnateGlory.Pages.Users.CorpDetailModel

@section head {
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/webix/skins/flat.min.css" />
    <link rel="stylesheet" href="~/lib/Font-Awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
}

<script src="~/lib/webix/webix.js"></script>
<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/js/site.js"></script>

<div>@Model.Id</div>
<div>Corp Details</div>
<div>Create/Remove Balance</div>
<div id="a">test</div>
<script type="text/javascript">
    webix.ready(function () {
        webix.ui({
            view: "button",
            container: "a",
            label: "Standard",
            on: {
                onItemClick: function (id, e) {
                    console.log(arguments);
                    util.api('@Url.Action("SetBalance", "Corps")', {
                        CorpId: @Model.Id,
                        Amount1: 10,
                        Amount2: 20,
                        Amount3: 30
                    }, function (result) {
                    });
                }
            }
        });
    });
</script>