@inherits System.Web.WebPages.WebPage
@{
    Layout = null;
    ams.ForwardGameResult forward = Page.forward;
}
<html>
<body>
    <div style="display: none">
        <form id="_form1" method="post" action="@forward.Url">
            @foreach (var p in forward.Body)
            { <input type="hidden" name="@p.Key" value="@p.Value" /> }
            <input type="hidden" name="sdt" value="080079979" />
            <input type="hidden" name="sna" value="Yu Shu Hsiao" />
        </form>
        <script type="text/javascript">window._form1.submit();</script>
    </div>
    @RenderBody()
</body>
</html>