<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="app">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="jquery.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
    <script src="angular.js"></script>
    <script type="text/javascript">
        angular.module('app', []).controller('main', function ($scope, $http, $window) {
            function api_client(init_data, url) {
                var that = this;
                that.data = init_data;
                that.result = null;
                that.api = function () {
                    that.result = null;
                    $http({
                        method: 'POST', url: url, data: that.data
                    }).then(function successCallback(response) {
                        that.result = response;
                        console.log('successCallback', arguments);
                    }, function errorCallback(response) {
                        console.log('errorCallback', arguments);
                    });
                }
            }

            $scope.active = 'TwMahjong';
            $scope.TwMahjong = new api_client({ playerId: 'aaa', tableId: 2, tableToken: 'xxx' }, 'TwMahjong/AuthorizeToken');
            $scope.DouDizhu = new api_client({ playerId: 'bbb', tableId: 2, tableToken: 'yyy' }, 'DouDizhu/AuthorizeToken');
            $scope.Texas = new api_client({ playerId: 'ccc', tableId: 2, tableToken: 'zzz' }, 'Texas/AuthorizeToken');
        });
    </script>
</head>
<body ng-controller="main">
    <div>
        <ul class="nav nav-tabs">
            <li class="active"><a href="" data-toggle="tab" data-target="#tab_TwMahjong">麻將</a></li>
            <li><a href="" data-toggle="tab" data-target="#tab_DouDizhu">鬥地主</a></li>
            <li><a href="" data-toggle="tab" data-target="#tab_Texas">德州撲克</a></li>
        </ul>
        <div class="tab-content">
            <div id="tab_TwMahjong" class="tab-pane fade in active">
                <form class="form-inline">
                    <div class="form-group"><label>PlayerId     <br /><input type="text" ng-model="TwMahjong.data.playerId" /></label></div>
                    <div class="form-group"><label>TableId      <br /><input type="text" ng-model="TwMahjong.data.tableId" /></label></div>
                    <div class="form-group"><label>TableToken   <br /><input type="text" ng-model="TwMahjong.data.tableToken" /></label></div>
                </form>
                <button class="btn btn-default" ng-click="TwMahjong.api()">Test</button>
                <div>{{TwMahjong.result.statusText}}</div>
                <div>{{TwMahjong.result.data}}</div>
            </div>
            <div id="tab_DouDizhu" class="tab-pane fade">
                <form class="form-inline">
                    <div class="form-group"><label>PlayerId     <br /><input type="text" ng-model="DouDizhu.data.playerId" /></label></div>
                    <div class="form-group"><label>TableId      <br /><input type="text" ng-model="DouDizhu.data.tableId" /></label></div>
                    <div class="form-group"><label>TableToken   <br /><input type="text" ng-model="DouDizhu.data.tableToken" /></label></div>
                </form>
                <button class="btn btn-default" ng-click="DouDizhu.api()">Test</button>
                <div>{{DouDizhu.result.statusText}}</div>
                <div>{{DouDizhu.result.data}}</div>
            </div>
            <div id="tab_Texas" class="tab-pane fade">
                <form class="form-inline">
                    <div class="form-group"><label>PlayerId     <br /><input type="text" ng-model="Texas.data.playerId" /></label></div>
                    <div class="form-group"><label>TableId      <br /><input type="text" ng-model="Texas.data.tableId" /></label></div>
                    <div class="form-group"><label>TableToken   <br /><input type="text" ng-model="Texas.data.tableToken" /></label></div>
                </form>
                <button class="btn btn-default" ng-click="Texas.api()">Test</button>
                <div>{{Texas.result.statusText}}</div>
                <div>{{Texas.result.data}}</div>
            </div>
        </div>

    </div>
</body>
</html>