@{ Layout = null; }
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title>Payment Sample</title>
</head>
<body>
    <div class="col-sm-9">
        <form class="form-horizontal" target="_blank" method="post" action="~/SunTech/BuySafeRequest">
            <div class="form-group">
                <label for="txt01" class="col-sm-3 control-label">BuySafe 信用卡付款</label>
                <div class="col-sm-3"><input type="number" class="form-control" name="mn" id="txt01" value="100" placeholder="Amount"></div>
                <div class="col-sm-3"><input type="text" class="form-control" name="name" value="yushu" placeholder="Name"></div>
                <div class="col-sm-3">
                    <div class="radio-inline"><label><input type="radio" name="ResultType" value="FormPost">FormPost</label></div>
                    <div class="radio-inline"><label><input type="radio" name="ResultType" value="Redirect">Redirect</label></div>
                </div>
                <div class="col-sm-2"><button type="submit" class="btn btn-default">Test</button></div>
            </div>
        </form>
        <form class="form-horizontal" target="_blank" method="post" action="~/SunTech/WebATMRequest">
            <div class="form-group">
                <label for="txt02" class="col-sm-3 control-label">WebATM 即時付</label>
                <div class="col-sm-3"><input type="number" class="form-control" name="mn" id="txt02" value="100" placeholder="Amount"></div>
                <div class="col-sm-3"><input type="text" class="form-control" name="name" value="yushu" placeholder="Name"></div>
                <div class="col-sm-3">
                    <div class="radio-inline"><label><input type="radio" name="ResultType" value="FormPost">FormPost</label></div>
                    <div class="radio-inline"><label><input type="radio" name="ResultType" value="Redirect">Redirect</label></div>
                </div>
                <div class="col-sm-3"><button type="submit" class="btn btn-default">Test</button></div>
            </div>
        </form>
        <form class="form-horizontal" target="_blank" method="post" action="~/SunTech/24PayRequest">
            <div class="form-group">
                <label for="txt03" class="col-sm-3 control-label">超商代收 24Pay</label>
                <div class="col-sm-3"><input type="number" class="form-control" name="mn" id="txt03" value="100" placeholder="Amount"></div>
                <div class="col-sm-3"><input type="text" class="form-control" name="name" value="yushu" placeholder="Name"></div>
                <div class="col-sm-3">
                    <div class="radio-inline"><label><input type="radio" name="ResultType" value="FormPost">FormPost</label></div>
                    <div class="radio-inline"><label><input type="radio" name="ResultType" value="Redirect">Redirect</label></div>
                </div>
                <div class="col-sm-3"><button type="submit" class="btn btn-default">Test</button></div>
            </div>
        </form>
        <form class="form-horizontal" target="_blank" method="post" action="~/SunTech/PayCodeRequest">
            <div class="form-group">
                <label for="txt04" class="col-sm-3 control-label">PayCode 超商代碼繳費</label>
                <div class="col-sm-3"><input type="number" class="form-control" name="mn" id="txt04" value="100" placeholder="Amount"></div>
                <div class="col-sm-3"><input type="text" class="form-control" name="name" value="yushu" placeholder="Name"></div>
                <div class="col-sm-3">
                    <div class="radio-inline"><label><input type="radio" name="ResultType" value="FormPost">FormPost</label></div>
                    <div class="radio-inline"><label><input type="radio" name="ResultType" value="Redirect">Redirect</label></div>
                </div>
                <div class="col-sm-3"><button type="submit" class="btn btn-default">Test</button></div>
            </div>
        </form>
    </div>
    <div class="col-sm-9">
        <form class="form-horizontal" target="_blank" method="post" action="~/PayNow/GetInvoiceNumber">
            <div class="form-group">
                <label for="paynow" class="col-sm-3 control-label">商家帳號</label>
                <div class="col-sm-1"><input type="text" class="form-control" name="mem_cid" id="mem_cid" value="70828783" placeholder="mem_cid 商家統編 商家帳號"></div>
                <div class="col-sm-2"><button type="submit" class="btn btn-default">取得發票號碼</button></div>
            </div><br />
        </form>
    </div>
    @*<div class="col-sm-9">
            <form class="form-horizontal" target="_blank" method="post" action="~/PayNow/GetInvoiceNumber">
                <div class="form-group">
                    <label for="paynow" class="col-sm-3 control-label">商家帳號</label>
                    <div class="col-sm-1"><input type="text" class="form-control" name="mem_cid" id="mem_cid" value="70828783" placeholder="mem_cid 商家統編 商家帳號"></div>
                    <div class="col-sm-2"><button type="submit" class="btn btn-default">取得發票號碼</button></div>
                </div><br />
            </form>
        </div>
        <div class="col-sm-9">
            <form class="form-horizontal" target="_blank" method="post" action="~/PayNow/UploadInvoice_Body.cshtml">
                <div class="form-group">
                    <label for="paynow" class="col-sm-3 control-label">商品描述</label>
                    <div class="col-sm-1"><input type="text" class="form-control" name="Description" id="Description" value="儲值" placeholder="商品描述"></div>
                    <div class="col-sm-2"><button type="submit" class="btn btn-default">發票明細資料上傳</button></div><br>
                </div>
                <div class="form-group">
                    <label for="paynow" class="col-sm-3 control-label">小計。數量。單價。商家自訂編號。備註</label>
                    <div class="col-sm-1"><input type="number" class="form-control" name="Amount" id="Amount" value="100" placeholder="小計"></div>
                    <div class="col-sm-1"><input type="number" class="form-control" name="Quantity" id="Quantity" value="1" placeholder="數量"></div>
                    <div class="col-sm-1"><input type="number" class="form-control" name="UnitPrice" id="UnitPrice" value="100" placeholder="單價"></div>
                    <div class="col-sm-2"><input type="text" class="form-control" name="SerialNumber" id="SerialNumber" value="" placeholder="商家自訂編號"></div>
                    <div class="col-sm-2"><input type="text" class="form-control" name="Remark" id="Remark" value="" placeholder="備註"></div>
                </div>
                <div class="form-group">
                    <label for="paynow" class="col-sm-3 control-label">商家統編。發票號碼</label>
                    <div class="col-sm-1"><input type="text" class="form-control" name="mem_cid" id="mem_cid" value="70828783" placeholder="mem_cid 商家統編 商家帳號"></div>
                    <div class="col-sm-2"><input type="text" class="form-control" name="InvoiceNo" id="InvoiceNo" value="" placeholder="發票號碼"></div>
                </div><br />
            </form>
        </div>
        <div class="col-sm-9">
            <form class="form-horizontal" target="_blank" method="post" action="~/PayNow/UploadInvoice.cshtml">
                <div class="form-group">
                    <label for="paynow" class="col-sm-3 control-label">商家統編。商家密碼。發票號碼</label>
                    <div class="col-sm-1"><input type="text" class="form-control" name="mem_cid" id="mem_cid" value="70828783" placeholder="商家統編"></div>
                    <div class="col-sm-1"><input type="text" class="form-control" name="mem_pw" id="mem_pw" value="70828783" placeholder="商家密碼"></div>
                    <div class="col-sm-1"><input type="text" class="form-control" name="InvoiceNo" id="InvoiceNo" value="" placeholder="發票號碼"></div>
                    <div class="col-sm-2"><button type="submit" class="btn btn-default">發票資訊上傳</button></div>
                </div>
                <div class="form-group">
                    <label for="paynow" class="col-sm-3 control-label">消費者統編。姓名。手機</label>
                    <div class="col-sm-2"><input type="text" class="form-control" name="BuyerId" id="BuyerId" value="" placeholder="消費者統編"></div>
                    <div class="col-sm-2"><input type="text" class="form-control" name="BuyerName" id="BuyerName" value="" placeholder="消費者姓名"></div>
                    <div class="col-sm-2"><input type="text" class="form-control" name="BuyerPhoneNo" id="BuyerPhoneNo" value="" placeholder="消費者手機"></div>
                </div>
                <div class="form-group">
                    <label for="paynow" class="col-sm-3 control-label">消費者地址。Email</label>
                    <div class="col-sm-4"><input type="text" class="form-control" name="BuyerAdd" id="BuyerAdd" value="" placeholder="消費者地址"></div>
                    <div class="col-sm-4"><input type="text" class="form-control" name="BuyerEmail" id="BuyerEmail" value="" placeholder="消費者Email"></div>
                </div>
                <div class="form-group">
                    <label for="paynow" class="col-sm-3 control-label">交易總金額。商家自訂編號。消費內容。是否寄送發票</label>
                    <div class="col-sm-1"><input type="text" class="form-control" name="TotalAmount" id="TotalAmount" value="100" placeholder="交易總金額"></div>
                    <div class="col-sm-2"><input type="text" class="form-control" name="SerialNumber" id="SerialNumber" value="" placeholder="商家自訂編號"></div>
                    <div class="col-sm-1"><input type="text" class="form-control" name="OrderInfo" id="OrderInfo" value="" placeholder="消費內容"></div>
                    <div class="col-sm-1"><input type="number" class="form-control" name="Send" id="Send" value="0" placeholder="是否寄送發票"></div>
                </div>
                <div class="form-group">
                    <label for="paynow" class="col-sm-3 control-label">載具類別。載具明碼。載具隱碼。捐贈對象</label>
                    <div class="col-sm-1"><input type="text" class="form-control" name="CarrierType" id="CarrierType" value="" placeholder="載具類別"></div>
                    <div class="col-sm-1"><input type="text" class="form-control" name="CarrierId1" id="CarrierId1" value="" placeholder="載具明碼"></div>
                    <div class="col-sm-1"><input type="text" class="form-control" name="CarrierId2" id="CarrierId2" value="" placeholder="載具隱碼"></div>
                    <div class="col-sm-1"><input type="text" class="form-control" name="NPOBAN" id="NPOBAN" value="" placeholder="捐贈對象"></div>
                </div>
            </form>
        </div>
        <div class="col-sm-9">
            <form class="form-horizontal" target="_blank" method="post" action="~/PayNow/CancelInvoice.cshtml">
                <div class="form-group">
                    <label for="paynow" class="col-sm-3 control-label">商家統編。發票號碼</label>
                    <div class="col-sm-2"><input type="text" class="form-control" name="mem_cid" id="mem_cid" value="70828783" placeholder="商家統編"></div>
                    <div class="col-sm-2"><input type="text" class="form-control" name="InvoiceNo" id="InvoiceNo" value="" placeholder="發票號碼"></div>
                    <div class="col-sm-2"><button type="submit" class="btn btn-default">發票作廢</button></div>
                </div>
            </form>
        </div>
        <div class="col-sm-9">
            <form class="form-horizontal" target="_blank" method="post" action="~/PayNow/CheckInvoice.cshtml">
                <div class="form-group">
                    <label for="paynow" class="col-sm-3 control-label">商家統編。發票號碼查詢</label>
                    <div class="col-sm-2"><input type="text" class="form-control" name="mem_cid" id="mem_cid" value="70828783" placeholder="商家統編"></div>
                    <div class="col-sm-2"><input type="text" class="form-control" name="InvoiceNo" id="InvoiceNo" value="" placeholder="發票號碼"></div>
                    <div class="col-sm-2"><button type="submit" class="btn btn-default">發票查詢Url</button></div>
                </div>
            </form>
        </div>
        <div class="col-sm-9">
            <form class="form-horizontal" target="_blank" method="post" action="~/PayNow/CheckInvoiceOrder.cshtml">
                <div class="form-group">
                    <label for="paynow" class="col-sm-3 control-label">商家統編。商家自訂編號查詢</label>
                    <div class="col-sm-2"><input type="text" class="form-control" name="mem_cid" id="mem_cid" value="70828783" placeholder="商家統編"></div>
                    <div class="col-sm-2"><input type="text" class="form-control" name="SerialNumber" id="SerialNumber" value="" placeholder="商家自訂編號"></div>
                    <div class="col-sm-2"><button type="submit" class="btn btn-default">發票查詢Url</button></div>
                </div>
            </form>
        </div>

        <div class="col-sm-9"><br />
            <form class="form-horizontal" target="_blank" method="post" action="~/Test/CallAPI.cshtml">
                <div class="form-group">
                    <label for="paynow" class="col-sm-3 control-label">商家帳號</label>
                    <div class="col-sm-1"><input type="text" class="form-control" name="mem_cid" id="mem_cid" value="70828783"></div>
                    <div class="col-sm-2"><button type="submit" class="btn btn-default">呼叫API</button></div>
                </div><br />
                <div class="form-group">
                    <label for="paynow" class="col-sm-3 control-label">商品描述</label>
                    <div class="col-sm-1"><input type="text" class="form-control" name="Description" id="Description" value="儲值" placeholder="商品描述"></div>
                </div>
                <div class="form-group">
                    <label for="paynow" class="col-sm-3 control-label">小計。數量。單價。商家自訂編號。備註</label>
                    <div class="col-sm-1"><input type="number" class="form-control" name="Amount" id="Amount" value="100" placeholder="小計"></div>
                    <div class="col-sm-1"><input type="number" class="form-control" name="Quantity" id="Quantity" value="1" placeholder="數量"></div>
                    <div class="col-sm-1"><input type="number" class="form-control" name="UnitPrice" id="UnitPrice" value="100" placeholder="單價"></div>
                    <div class="col-sm-2"><input type="text" class="form-control" name="SerialNumber" id="SerialNumber" value="12345" placeholder="商家自訂編號"></div>
                    <div class="col-sm-2"><input type="text" class="form-control" name="Remark" id="Remark" value="" placeholder="備註"></div>
                </div>
                <div class="form-group">
                    <label for="paynow" class="col-sm-3 control-label">消費者統編。姓名。手機</label>
                    <div class="col-sm-2"><input type="text" class="form-control" name="BuyerId" id="BuyerId" value="" placeholder="消費者統編"></div>
                    <div class="col-sm-2"><input type="text" class="form-control" name="BuyerName" id="BuyerName" value="" placeholder="消費者姓名"></div>
                    <div class="col-sm-2"><input type="text" class="form-control" name="BuyerPhoneNo" id="BuyerPhoneNo" value="" placeholder="消費者手機"></div>
                </div>
                <div class="form-group">
                    <label for="paynow" class="col-sm-3 control-label">消費者地址。Email</label>
                    <div class="col-sm-4"><input type="text" class="form-control" name="BuyerAdd" id="BuyerAdd" value="" placeholder="消費者地址"></div>
                    <div class="col-sm-4"><input type="text" class="form-control" name="BuyerEmail" id="BuyerEmail" value="" placeholder="消費者Email"></div>
                </div>
                <div class="form-group">
                    <label for="paynow" class="col-sm-3 control-label">交易總金額。商家自訂編號。消費內容。是否寄送發票</label>
                    <div class="col-sm-1"><input type="text" class="form-control" name="TotalAmount" id="TotalAmount" value="100" placeholder="交易總金額"></div>
                    <div class="col-sm-1"><input type="text" class="form-control" name="OrderInfo" id="OrderInfo" value="" placeholder="消費內容"></div>
                    <div class="col-sm-1"><input type="number" class="form-control" name="Send" id="Send" value="0" placeholder="是否寄送發票"></div>
                </div>
                <div class="form-group">
                    <label for="paynow" class="col-sm-3 control-label">載具類別。載具明碼。載具隱碼。捐贈對象</label>
                    <div class="col-sm-1"><input type="text" class="form-control" name="CarrierType" id="CarrierType" value="" placeholder="載具類別"></div>
                    <div class="col-sm-1"><input type="text" class="form-control" name="CarrierId1" id="CarrierId1" value="" placeholder="載具明碼"></div>
                    <div class="col-sm-1"><input type="text" class="form-control" name="CarrierId2" id="CarrierId2" value="" placeholder="載具隱碼"></div>
                    <div class="col-sm-1"><input type="text" class="form-control" name="NPOBAN" id="NPOBAN" value="" placeholder="捐贈對象"></div>
                </div>
            </form>
        </div>*@
</body>
</html>
