USE [game_DB]
GO
/****** Object:  Table [dbo].[DST]    Script Date: 2016/2/26 下午 03:42:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DST](
	[SID] [int] IDENTITY(1,1) NOT NULL,
	[Game] [varchar](50) NOT NULL,
	[DSTBegin] [datetime] NOT NULL,
	[DSTEnd] [datetime] NOT NULL,
	[UpdateTime] [datetime] NOT NULL,
	[UpdateUser] [varchar](20) NOT NULL,
 CONSTRAINT [PK_DST] PRIMARY KEY CLUSTERED 
(
	[SID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
