<div class="container-fluid fill" style="position: absolute; top:0; left: 0; margin-top: 50px; background-color: yellow;">
    <div class="row fill-y">
        <div class="col-sm-3 col-md-2">
            xxx
        </div>
    </div>
</div>
<div class="container-fluid fill" style="position: absolute; top: 0; left: 0; margin-top: 50px; background-color: blue;">
    <div class="row fill-y">
        @*<div class="col-sm-3 col-md-2 hidden-xs doc-left">
                <button type="button" class="btn btn-primary btn-xs btn-block" data-toggle="collapse" data-target="#demo">Simple collapsible xs</button>
                <button type="button" class="btn btn-primary btn-sm btn-block" data-toggle="collapse" data-target="#demo">Simple collapsible sm</button>
                <button type="button" class="btn btn-primary        btn-block" data-toggle="collapse" data-target="#demo">Simple collapsible md</button>
                <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="collapse" data-target="#demo">Simple collapsible lg</button>
                <div id="demo" class="collapse">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </div>
                @for (int i = 1; i < 50; i++) { <div>@i</div> }
            </div>*@
        <div class="col-sm-9 col-md-10 col-sm-offset-2 doc-right">
            <iframe id="main_frame" class="main-frame fill" src="~/Default/Home"></iframe>
            <div class="main-frame-mask fill hide"></div>
        </div>
    </div>
</div>
