@inherits System.Web.WebPages.WebPage
@{
    Layout = null;    
    object objInvoice = Page.objInvoice;
}
<html>
<body>    
    <input type="text" name="12345" value="@objInvoice" />
    @RenderBody()
</body>
</html>