@inherits System.Web.WebPages.WebPage
@{
    Layout = null;
    string cancel = Page.cancel;
}
<html>
<body>
    <input type="text" name="bbb" value="@cancel" />
    @RenderBody()
</body>
</html>