@inherits System.Web.WebPages.WebPage
@{
    Layout = null;
    string invoiceNo = Page.invoiceNo;
}
<html>
<body>
    <input type="text" name="getInvoiceNumber" value="@invoiceNo" />
    @RenderBody()
</body>
</html>